.live {
  display: flex;
  position: relative;

  .local {
    width: 45%;
    margin-right: 16px;
    video {
      width: 100%;
    }
  }

  .remote {
    width: 45%;
    video {
      width: 100%;
    }
  }
}
